body {
	text-align: center;
	background-image: url("https://wallpaperplay.com/walls/full/0/5/d/109608.jpg");
    background-size: 1280px 720px;
    /*background-position: center;*/
}

h1 {
	font-family: Georgia;
	color: orange;
	font-size: 50pxs;
}